@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";

// Import variables and abstractions.
@import "../globals";
/**
 * @file
 * Detailed stylings are all yours, get yourself dirty.
 */
.slick--skin--split .slide__caption {
  top: 0;
}

@include breakpoint($breakpoint-start, true) {

  .slide--caption--split-left >,
  .slide--caption--split-right > {
    .slide__content > .slide__caption {
      left: 0;
      padding: 20px;
      position: absolute;
      top: 10%;
      width: 42%;
    }
  }

  .slide__content > .slide__media {
    .slick--skin--split .slide--caption--split-left > &,
    .slick--skin--split .slide--caption--split-zebra:nth-child(odd) > & {
      float: left;
      width: 48%;
    }

    .slick--skin--split .slide--caption--split-right > &,
    .slick--skin--split .slide--caption--split-zebra:nth-child(even) > & {
      float: right;
      width: 48%;
    }
  }

  .slide__content > .slide__caption {
    .slick--skin--split .slide--caption--split-left > &,
    .slick--skin--split .slide--caption--split-zebra:nth-child(odd) > & {
      margin-left: 52%;
      width: auto;
    }
    .slick--skin--split .slide--caption--split-right > &,
    .slick--skin--split .slide--caption--split-zebra:nth-child(even) > & {
      margin-right: 52%;
      width: auto;
    }
  }

  .slide__content > .slide__media {
    .slick--skin--split .slide--caption--split-left > &, .slick--skin--split .slide--caption--split-zebra:nth-child(odd) > & {
      float: left;
      width: 48%;
    }

    .slick--skin--split .slide--caption--split-right > &, .slick--skin--split .slide--caption--split-zebra:nth-child(even) > & {
      float: right;
      width: 48%;
    }
  }

  .slide__content > .slide__constrained > .slide__caption, .slide__content > .slide__caption {
    .slick--skin--split .slide--caption--split-left > &, .slick--skin--split .slide--caption--split-zebra:nth-child(odd) > & {
      margin-left: 52%;
      width: auto;
    }

    .slick--skin--split .slide--caption--split-right > &, .slick--skin--split .slide--caption--split-zebra:nth-child(even) > & {
      margin-right: 52%;
      width: auto;
    }
  }
}
