@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";

// Import variables and abstractions.
@import "../globals";
/**
 * @file
 * Detailed stylings are all yours, get yourself dirty.
 */

.slick--skin--boxed {
  // Applies only if 1 slideToShow, not carousel, to avoid nearby visible.
  &.slick--slider {
    .slick__slide {
      // Prevent text overlapping with arrows on small devices.
      .slide__caption {
        visibility: hidden;
      }

      &.slick-active .slide__caption {
        visibility: visible;
      }
    }
  }
}

@include breakpoint($ipad, true) {
  // Spaces only reasonable for larger device.
  .slick--skin--boxed > .slick__slider > .slick-list {
    margin: 0 60px;
  }
}