@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";

// Import variables, abstractions, base styles and components using globbing.
@import "../globals";
/**
 * @file
 * Provides colorbox integration.
 */

// All crazy important declarations to override inline CSS by JS.
.colorbox-on--video,
.colorbox-on--audio {
  #colorbox,
  #cboxContent,
  #cboxLoadedContent {
    @include box-sizing(border-box);
  }

  #cboxBottomCenter,
  #cboxBottomRight,
  #cboxBottomLeft,
  #cboxTopCenter,
  #cboxTopRight,
  #cboxTopLeft,
  #cboxMiddleLeft,
  #cboxMiddleRight {
    display: none;
    height: 0 !important;
    width: 0 !important;
  }

  #cboxWrapper,
  #cboxContent {
    background: none;
    border-radius: 0;
  }

  #cboxContent,
  #cboxLoadedContent {
    overflow: visible !important;
  }

  #cboxLoadedContent .cboxIframe {
    @include background-clip(padding-box);
    border-radius: 0;
    border: 8px solid $color-1;
  }
}
