/**
 * Edit link
 */
.slide__content {
  .edit-link {
    display: block;
    font-size: 0;
    padding: 5px;
    position: absolute;
    left: 0;
    text-indent: -9999px;
    top: 0;
    z-index: 2;
    &::before {
      display: block;
      @include font-size(18px);
      text-indent: 0;
    }
  }
  
  .file__translate {
    left: 32px;
  }
}